#about {
  margin-bottom: 40px;
  z-index: 5;

  .about-image {
    position: relative;
    width: 505px;
    margin-top: -50px;
  }

  .socials-container {
    position: absolute;
    top: 10px;
    left: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;

    &:before {
      top: -10px;
    }
  }

  .social-link {
    margin-right: 30px;
    opacity: 0.6;
    transition: all .35s ease-out;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      g {
        opacity: 1;
      }

      path {
        fill: #fff;
      }
    }
  }

  .section-title {
    color: $dark-blue;
    font-family: $ConthraxSB;
    font-size: 30px;
    line-height: 55px;
  }

  .slider-container {
    position: relative;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
  }

  .slider {
    padding-left: 15px;
    display: flex;
    overflow: auto;
    width: auto;
  }

  .slide {
    width: 115px;
    min-width: 115px;
    margin-right: 30px;
  }

  .slide-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: $light-white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s $default-timing;
    box-shadow: 0 0 0 transparent,
    0 0 0 transparent,
    inset 2px 2px 5px #b9bdcf,
    inset -5px -5px 10px 1px #ffffff;

    img {
      width: 35px;
      height: auto;
    }
  }

  .slide-desc {
    color: $dark-grey;
    font-size: 16px;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('md') {
  #about {
    .about-image {
      position: absolute;
      width: 100%;
      margin-top: 0;
      top: -205px;
      right: -285px;
      z-index: 6;
    }

    .container {
      padding-top: 240px;
    }

    .section-title {
      font-size: 45px;
    }

    .section-desc {
      margin-bottom: 60px;
    }

    .slick-list {
      padding-left: 0;
    }

    .slider-container {
      padding-left: 40px;
      padding-right: 40px;
    }

    .slick-track {
      width: 100% !important;
      transform: none !important;
      display: flex;
      justify-content: space-between;

      &:before, &:after {
        display: none;
      }
    }

    .slick-slide {
      width: auto !important;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      & > div {
        width: 100%;
        max-width: 155px;
      }
    }

    .slide-desc {
      font-size: 14px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #about {
    margin-bottom: 70px;

    .container {
      padding-top: 50px;
    }

    .section-title {
      margin-bottom: 25px;
    }

    .about-image {
      position: absolute;
      top: -85px;
      right: -30%;
      width: 860px;
      margin-top: 0;
    }

    .socials-container {
      top: 25px;

      &.top {
        &:before {
          top: auto;
          bottom: 0;
        }
      }
    }

    .social-link {
      margin-right: 40px;
    }

    .section-desc {
      margin-bottom: 160px;
    }

    .slide {
      min-width: 155px;
    }

    .slide-image {
      width: 120px;
      height: 120px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #about {
    margin-bottom: 0;
    padding-bottom: 120px;
    overflow: visible;

    & > .line {
      &__left {
        left: 60px;
      }

      &__right {
        right: 60px;
      }
    }

    .line {
      &__left {
        top: 0;
        transform: none;
        height: 1240px;
      }

      &__right {
        top: 0;
        transform: none;
        height: 1240px;
      }
    }

    .container {
      padding-top: 145px;
      padding-bottom: 110px;
    }

    .about-image {
      top: -85px;
      right: -240px;
    }

    .section-desc {
      margin-bottom: 0;
    }

    .slider {
      overflow: visible;
    }

    .slick-slide {
      margin-right: 115px;

      &:last-child {
        margin-right: 0;
      }
    }

    .slide {
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .slide-image {
          box-shadow: 5px 5px 20px #b9bdcf,
          -5px -5px 15px 2px #ffffff,
          inset 0 0 0 transparent,
          inset 0 0 0 transparent;
        }
      }
    }

    .slider {
      padding-left: 0;
      justify-content: space-between;

      .line {
        &__bottom {
          bottom: 42px;
        }
      }
    }

    .slider-container {
      padding: 0;
      z-index: 5;
    }

    .slide-desc {
      font-size: 18px;
    }
  }
}
