#capsule {
  .section-title {
    color: $dark-blue;
  }

  .capsule-card {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 15px 30px;
    overflow: hidden;
    transition: all 1s ease-out;

    &.inside-capsule {
      border: 1px solid $light-grey;
    }
  }

  .capsule-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(180deg, #f9fafa 0%, rgba(249, 250, 250, 0) 100%);
      z-index: 1;
    }

    img {
      object-fit: cover;
    }
  }

  .capsule-info-container {
    position: relative;
    z-index: 2;
  }

  .capsule-name {
    color: $light-white;
    -webkit-text-stroke: 0.7px $dark-blue;
    font-family: $ConthraxSB;
    font-size: 27px;
    line-height: 55px;
    text-align: center;
  }

  .capsule-desc {
    color: $dark-grey;
    font-size: 14px;
    margin-bottom: 50px;
  }

  .capsule-button {
    width: 255px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px rgba(128, 197, 252, 0.4);
    border-radius: 10px;
    background-color: $light-white;
    border: none;
    padding: 13px 0;

    &:hover {
      box-shadow: 0 0 15px rgba(128, 197, 252, 0.4), inset 2px 2px 5px #b9bdcf, inset -5px -5px 10px 1px #ffffff;
    }

    span {
      color: $accent-dark;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  .capsule-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
  }

  .capsule-slide-desc {
    margin-bottom: 25px;

    p {
      color: $dark-grey;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }

  .slide {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slide-arrow {
    position: absolute;
    top: calc(50% - 40px);
    transform: translateY(-50%);
    z-index: 1;

    &.prev {
      left: 5px;
    }

    &.next {
      right: 5px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .inside-capsule {
    .capsule-info-container {
      padding: 0 0 20px;
    }

    .slide {
      padding: 0 30px;
    }

    .row {
      margin: 0;
    }

    .col-6 {
      padding: 0;

      &:nth-child(even) {
        padding-left: 5px;
      }

      &:nth-child(odd) {
        padding-right: 5px;
      }
    }
  }
}

@include media-breakpoint-up('md') {
  #capsule {
    .container {
      padding-bottom: 35px;
    }

    .slide {
      .row {
        margin: 0;
      }

      .col-6 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  #capsule {
    margin-bottom: 50px;

    .section-title {
      width: 100%;
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }

    .container {
      max-width: 1800px;
      padding: 0 40px;

      .col-12 {
        &:nth-child(even) {
          padding-right: 4.2vw;
        }

        &:nth-child(odd) {
          padding-left: 4.2vw;
        }
      }
    }

    .capsule-info-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 380px;
    }

    .capsule-image {
      &:before {
        bottom: auto;
        height: 200px;
      }
    }

    .capsule-desc {
      margin-bottom: 130px;
    }

    .capsule-name {
      text-align: left;
    }

    .capsule-button {
      margin-left: 0;
      width: 180px;
      padding: 8px;
    }

    .capsule-slide-desc {
      font-size: 12px;
      margin-bottom: 30px;
    }

    .inside-capsule {
      padding-left: 55px !important;

      .col-lg-4 {
        padding-left: 10px;
        padding-right: 10px;
      }

      .capsule-info-container {
        max-width: 100%;
        padding: 0;
      }

      .capsule-name {
        text-align: left;
        margin-bottom: 15px;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #capsule {
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 50px;

    .container {
      padding: 0 60px;

      & > .line {
        &__left {
          left: 60px;
        }

        &__right {
          right: 60px;
        }
      }
    }

    .capsule-card {
      padding: 30px 30px 55px;
      margin-bottom: 30px;
    }

    .inside-capsule {
      padding: 30px 40px 30px 95px !important;

      .col-lg-4 {
        padding-left: 15px;
        padding-right: 15px;
      }

      .capsule-name {
        margin-bottom: 30px;
      }
    }

    .capsule-card {
      height: calc(100% - 30px);

      &:hover {
        box-shadow: 5px 5px 20px #b9bdcf;

        .capsule-desc, .capsule-button {
          opacity: 1;
          transform: translateY(0);
        }

        .capsule-desc {
          transition-delay: 0s;
        }

        .capsule-button {
          transition: box-shadow 0.5s $default-timing 0s, opacity .7s $default-timing .3s, transform .7s $default-timing .3s;
        }
      }
    }

    .capsule-info-container {
      max-width: 455px;
    }

    .capsule-image {
      &:before {
        height: 260px;
        background-image: linear-gradient(180deg, #f9fafa 0%, rgba(249, 250, 250, 0) 100%);
      }
    }

    .capsule-name {
      font-size: 40px;
      margin-bottom: 15px;
    }

    .capsule-desc {
      font-size: 16px;
      margin-bottom: 200px;
      opacity: 0;
      transform: translateY(40px);
      transition: all .7s $default-timing 0.3s;
    }

    .capsule-button {
      width: 255px;
      padding: 13px 0;
      opacity: 0;
      transform: translateY(40px);
      transition: box-shadow 0.5s $default-timing, opacity .7s $default-timing, transform .7s $default-timing;
      transition-delay: 0s;
    }
  }
}
