#contact {
  padding: 0 0 40px;
  margin-top: 150px;

  .section-title {
    color: $dark-blue;
    margin-bottom: 10px;
  }

  .contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      box-shadow: 5px 5px 20px #b9bdcf, -5px -5px 15px 2px #ffffff;
      border-radius: 10px;
      width: 100%;
      background-color: $light-white;
      transition: width .7s $default-timing;
      z-index: -1;
    }
  }

  .phone-link {
    display: block;
    color: $accent-dark;
    font-family: $ConthraxSB;
    font-size: 18px;
  }

  .text-info {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    color: $dark-blue !important;

    &.address {
      font-size: 15px;
    }

    img {
      width: 12px;
      min-width: 12px;
      margin-right: 5px;
    }
  }

  .socials-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &.social-media {
      svg {
        path {
          fill: $accent-dark;
        }
      }
    }
  }

  .social-link {
    margin-right: 50px;
    opacity: 0.3;
    transition: all .35s ease-out;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 35px;
      height: 35px;

      g {
        opacity: 1;
      }
    }
  }

  .form-container {
    margin-bottom: 30px;
    width: 100%;
    max-width: 390px;
  }

  .form-title {
    color: $light-white;
    font-family: $ConthraxSB;
    font-size: 30px;
    line-height: 40px;
    -webkit-text-stroke: 1px $dark-blue;
    margin-bottom: 35px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-input {
    box-shadow: inset 2px 2px 5px #b9bdcf, inset -5px -5px 10px #ffffff;
    border-radius: 10px;
    background-color: $light-white;
    border: 1px solid $light-grey;
    padding: 13px 25px;
    width: 100%;
    color: $accent;
    transition: all .65s ease-out;

    &::placeholder {
      color: $dark-grey;
      transition: all .65s ease-out;
    }

    &:focus {
      box-shadow: inset 2px 2px 2px #d7dbed, inset -3px -3px 5px #ffffff;

      &::placeholder {
        color: $accent;
      }
    }

    &.form-area {
      resize: none;
    }
  }

  .button-submit {
    box-shadow: 0 0 15px rgba(128, 197, 252, 0.4);
    border-radius: 10px;
    background-color: $dark-blue;
    border: none;
    padding: 13px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s $default-timing;

    &:hover {
      box-shadow: 0 0 15px rgba(128, 197, 252, 0.4), inset 3px 3px 8px #060e15, inset -2px -2px 5px #293a49;
    }

    span {
      color: $light-white;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  .map-container {
    width: 555px;
    position: relative;
    transform: translateX(-35%);
    border: 2px solid $accent;
    padding: 35px 50px;
    border-radius: 130px;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 5px;
      background-color: $light-white;
      z-index: 1;
    }

    &:before {
      top: -3px;
      left: 170px;
    }

    &:after {
      bottom: -3px;
      right: 170px;
    }
  }

  [id*='map'] {
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
    mask-repeat: no-repeat;
    mask-position: 100% 100%;
    mask-size: cover;
    mask-image: url('../../img/MapMask.svg');

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 2px 5px 30px rgba(16, 35, 53, 0.3);
      pointer-events: none;
      z-index: 1;
    }
  }
}

@include media-breakpoint-up('md') {
  #contact {
    margin-top: 165px;

    .section-title {
      margin-bottom: 35px;
    }

    .row-contact {
      flex-direction: row-reverse;
    }

    .contact-info {
      width: 370px;
      margin-bottom: 50px;
    }

    .socials-container {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .map-container {
      width: 770px;
      transform: translateX(-200px);
    }

    #map {
      height: 400px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #contact {
    .section-title {
      margin-bottom: 0;
    }

    .contact-info {
      align-items: flex-start;
      padding: 0 30px 30px 50px;
    }

    .mail {
      font-size: 21px;
    }

    .phone-link, .address {
      font-size: 17px;
    }

    .socials-container {
      justify-content: flex-end;
    }

    .overflow-box {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .social-media {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
      justify-content: center;
    }

    .social-link {
      margin-right: 40px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .map-container {
      position: absolute;
      top: 110px;
      left: 0;
      width: 850px;
      padding: 50px 75px;
      transform: translateX(-285px);
      border-radius: 220px;
      z-index: 6;

      &:before {
        left: 280px;
      }

      &:after {
        right: 280px;
      }
    }

    #map {
      height: 435px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #contact {
    margin-top: 0;
    padding-top: 310px;
    margin-bottom: 0;
    padding-bottom: 70px;
    overflow: hidden;

    .contact-info {
      position: relative;
      width: 100%;
      margin-bottom: 75px;
      padding-top: 30px;
      z-index: 1;

      &:before {
        right: calc(-100% - 60px);
      }
    }

    .map-container {
      top: 420px;
      transform: translateX(-165px);
      padding: 55px 85px 65px;
    }

    #map {
      height: 470px;
    }
  }
}
