#gallery {
  padding: 25px 0 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    background-color: $dark-blue;
    transition: all .7s $default-timing 0s;
    z-index: 0;
  }

  .section-title {
    margin-bottom: 10px;
  }

  .section-desc {
    margin-bottom: 35px;
  }

  .slider-container {
    position: relative;
    margin-top: -135px;
    transform: translateY(50%);
  }

  .slider {
    padding-bottom: 35px;
  }

  .slick-list {
    padding: 0 15px;
  }

  .slick-slide {
    &:nth-child(2) {
      .slide {
        &:before {
          transition-delay: 0.9s;
        }
      }
    }

    &:nth-child(3) {
      .slide {
        &:before {
          transition-delay: 1.2s;
        }
      }
    }

    &:nth-child(4) {
      .slide {
        &:before {
          transition-delay: 1.5s;
        }
      }
    }
  }

  .slide {
    position: relative;
    padding: 0 5px;
    height: 240px;
  }

  .gallery-image {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: auto;
      object-fit: cover;
      box-shadow: 0 0 20px rgba(0, 61, 121, 0.2);
    }
  }

  .slide-arrow {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px #b9bdcf;
    border-radius: 10px;
    background-color: $light-white;
    overflow: hidden;
    z-index: 1;
    opacity: 0.9;
    transition: box-shadow .35s ease-out 0s, transform 0.7s $default-timing, opacity 0.7s $default-timing;
    cursor: pointer;

    &:hover {
      box-shadow: 3px 3px 10px rgba(185, 189, 207, 0.8);

      path {
        fill: $dark-blue;
      }
    }

    &.prev {
      left: 25px;
      transition-delay: 1.8s;
    }

    &.next {
      left: 80px;
      transition-delay: 1.95s;

      img, svg {
        transform: rotate(180deg);
      }
    }

    img, svg {
      width: 12px;
      height: 22px;

      path {
        transition: all .35s ease-out;
      }
    }
  }
}

@include media-breakpoint-up('md') {
  #gallery {
    padding-top: 40px;

    .col-section-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px;
    }

    .section-title {
      font-size: 55px;
      margin-bottom: 0;
      margin-right: 40px;
    }

    .section-desc {
      width: 100%;
      max-width: 540px;
      margin-left: auto;
      margin-bottom: 0;
    }

    .slider-container {
      margin-top: -120px;
      transform: translateY(120px);
    }

    .slick-list {
      padding-left: 55px;
      padding-right: 130px;
    }

    .slider {
      padding-bottom: 50px;
    }

    .slide {
      height: 400px;
    }

    .slide-arrow {
      width: 70px;
      height: 70px;

      &.prev {
        left: 100px;
      }

      &.next {
        left: 180px;
      }

      img, svg {
        width: 16px;
        height: 30px;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  #gallery {
    .slider-container {
      margin-top: -110px;
      transform: translateY(110px);
    }

    .slick-list {
      padding-left: 115px;
      padding-right: 180px;
    }

    .slide {
      height: 500px;
    }

    .slide-arrow {
      &.prev {
        left: 180px;
      }

      &.next {
        left: 255px;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #gallery {
    padding-top: 50px;
    z-index: 10;

    .col-section-info {
      margin-bottom: 50px;
    }

    .section-title {
      margin-right: 0;
    }

    .slider-container {
      margin-top: -145px;
      transform: translateY(145px);
    }

    .slider {
      padding-bottom: 65px;
    }

    .slick-list {
      padding-left: 165px;
      padding-right: 0;
    }

    .slide-arrow {
      width: 85px;
      height: 85px;

      &.prev {
        left: 260px;
      }

      &.next {
        left: 355px;
      }

      img, svg {
        width: 20px;
        height: 36px;
      }
    }
  }
}
