#main {
  position: relative;
  padding-top: 60px;
  min-height: 100vh;
  background: url('../../img/MainBackground.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-45deg, #00182f 0%, #0f2235 100%);
    opacity: 0.9;
    z-index: 0;
    mix-blend-mode: multiply;
  }

  .line-wrap {
    position: relative;
  }

  .line {
    display: block;
    position: absolute;
    background-color: #6e757c;
    opacity: .2;
    z-index: -1;

    &__top, &__bottom {
      left: 50%;
      transform: translateX(-50%);
    }

    &__left, &__right {
      top: 50%;
      transform: translateY(-50%);
    }

    &__top {
      top: 0;
      width: 99999px;
      height: 1px;
    }

    &__bottom {
      bottom: 0;
      width: 99999px;
      height: 1px;
    }

    &__left {
      left: 0;
      width: 1px;
      height: 99999px;
    }

    &__right {
      right: 0;
      width: 1px;
      height: 99999px;
    }
  }

  .container {
    height: 100%;
    padding-top: 75px;
    padding-left: 30px;
    padding-right: 30px;

    &:before {
      left: 15px;
    }

    &:after {
      right: 15px;
    }
  }

  .section-title {
    line-height: 30px;
  }

  .section-sub-title {
    position: relative;
    padding: 0;
    width: 0;
    overflow: hidden;
    height: 42px;
    max-width: 500px;

    &.aos-init {
      width: 100%;
      transition: all .7s $default-timing .8s;
    }
  }

  .form-container {
    margin-top: 75px;
    margin-bottom: 60px;
  }

  .form-group {
    overflow: hidden;
  }

  .btn-wrap {
    position: relative;
  }
}

@include media-breakpoint-up('md') {
  #main {
    .container {
      padding-top: 160px;
      max-width: 720px;
      padding-left: 0;
      padding-right: 0;
    }

    .col-info {
      max-width: 490px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .col-form {
      padding-left: 0;
      padding-right: 0;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }

    .section-title {
      margin-bottom: 30px;
      line-height: 45px;
    }

    .section-sub-title {
      font-size: 18px;
      white-space: nowrap;
    }

    .form-container {
      margin-top: 165px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #main {
    height: 100vh;
    padding-top: 64px;

    .scroll-container {
      position: absolute;
      bottom: 0;
      left: 50px;
      width: 150px;
    }

    .scroll-link {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      transform: rotate(-90deg) translate(0, 100%);
      transform-origin: left bottom;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $accent;
        width: 0;
        transition: width .7s $default-timing 0s;
      }

      span {
        color: $accent;
        font-size: 12px;
        letter-spacing: 2px;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      max-width: 830px;

      &:before {
        left: -15px;
      }

      &:after {
        right: -15px;
      }
    }

    .section-title {
      margin-bottom: 25px;
      line-height: 55px;
    }

    .section-sub-title {
      padding: 15px 0;
      height: auto;
    }

    .col-info {
      max-width: 100%;
      margin-bottom: 180px;
    }

    .col-form {
      max-width: 100%;
    }

    .form-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 0;
    }

    .btn-wrap {
      width: 100%;
      max-width: 255px;
    }

    .overflow-box {
      width: 100%;
      max-width: 255px;
      margin-right: 20px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('xl') {
  #main {
    padding-top: 0;
    overflow: hidden;

    .line {
      display: none;
    }

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1110px;
      justify-content: flex-start;
      height: auto;

      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .scroll-box-container {
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
      transform: none;
      max-width: 1350px;
      padding: 0 15px;
    }

    .scroll-container {
      width: 300px;
      left: 15px;

      &.aos-animate {
        .scroll-link {
          &:before {
            width: 100%;
            transition-delay: 1600ms;
          }
        }
      }
    }

    .scroll-link {
      transform: rotate(-90deg) translate(-150px, 100%);
    }

    .col-info {
      margin-bottom: 0;
    }

    .col-form {
      position: absolute;
      bottom: -200px;
      left: 0;
      margin-bottom: 0;
    }

    .section-title {
      width: 100%;
      max-width: 790px;
      margin-bottom: 40px;
    }

    .form-container {
      overflow: hidden;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    .form-label {
      margin-bottom: 10px;
    }

    .grid {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: color-dodge;
    }

    .grid-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1920px;
      height: auto;
      z-index: 1;
    }

    .grid-blocks {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1920px;
      height: auto;
      z-index: 2;

      & > g {
        & > g {
          & > g {
            opacity: 0;
            transition: all 0.7s $timing-grid;

            &.active {
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}
