#reviews {
  padding: 30px 0;

  .section-title {
    color: $dark-blue;
  }

  .review-col {
    margin-bottom: 30px;

    &:nth-child(even) {
      .review-card {
        flex-direction: row-reverse;
      }

      .quote-image {
        left: auto;
        right: 20px;
      }

      .review-info {
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }

  .review-card {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 20px #b9bdcf, -5px -5px 15px 2px #ffffff;
    border-radius: 10px;
    background-color: $light-white;
    padding: 0 20px 25px 15px;
  }

  .quote-image {
    position: absolute;
    top: -10px;
    left: 55px;
    width: 40px;
  }

  .review-image {
    width: 80px;
    min-width: 80px;
  }

  .review-info {
    padding-left: 20px;
  }

  .review-name {
    color: $dark-blue;
    font-family: $ConthraxSB;
    font-size: 18px;
    line-height: 55px;
    margin-bottom: 0;
  }

  .review-desc {
    color: #102335;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('md') {
  #reviews {
    .review-col {
      &:nth-child(even) {
        .review-card {
          margin-right: 0;
          margin-left: auto;
          flex-direction: row;
        }

        .review-info {
          padding-left: 20px;
        }
      }

      &:nth-child(3) {
        .review-card {
          flex-direction: row-reverse;
        }

        .review-image {
          margin-left: 0;
          margin-right: -30px;
        }

        .quote-image {
          right: 120px;
        }
      }

      &:nth-child(4) {
        .review-card {
          align-items: flex-start;
          flex-direction: row-reverse;
        }

        .quote-image {
          top: auto;
          bottom: -25px;
          right: 50%;
          transform: translateX(50%);
        }

        .review-image {
          margin-left: 0;
          margin-right: 45px;
        }

        .review-info {
          padding-left: 30px;
          padding-bottom: 25px;
          padding-right: 40px;
        }
      }

      &:nth-child(5) {
        .quote-image {
          top: auto;
          bottom: -25px;
          right: 20px;
        }
      }
    }

    .review-card {
      padding: 0;
      width: 100%;
      max-width: 450px;
    }

    .quote-image {
      top: -15px;
      left: auto;
      right: 20px;
      width: 55px;
    }

    .review-image {
      width: 120px;
      min-width: 120px;
      height: 120px;
      margin-left: -30px;
    }

    .review-name {
      font-size: 20px;
    }

    .review-info {
      padding: 0 20px 20px 20px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #reviews {
    .review-col {
      &:nth-child(odd) {
        padding-top: 66px;
      }

      &:nth-child(4) {
        .review-card {
          align-items: center;
        }

        .review-image {
          margin-right: 25px;
        }

        .review-info {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    .review-card {
      max-width: 420px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #reviews {
    padding-top: 70px;
    padding-bottom: 60px;
    overflow: hidden;

    .section-title {
      margin-bottom: 15px;
    }

    .review-col {
      margin-bottom: 40px;

      &:nth-child(1) {
        &[data-aos^=fade] {
          .review-image {
            &:before {
              transform: translateX(0);
            }
          }
        }

        &[data-aos^=fade].aos-animate {
          .review-image {
            &:before {
              transform: translateX(100%);
              transition-delay: .4s;
            }
          }
        }
      }

      &:nth-child(2) {
        &[data-aos^=fade] {
          .review-image {
            &:before {
              transform: translateY(0);
            }
          }
        }

        &[data-aos^=fade].aos-animate {
          .review-image {
            &:before {
              transform: translateY(-100%);
              transition-delay: .6s;
            }
          }
        }
      }

      &:nth-child(3) {
        &[data-aos^=fade] {
          .review-image {
            &:before {
              transform: translateX(0);
            }
          }
        }

        &[data-aos^=fade].aos-animate {
          .review-image {
            &:before {
              transform: translateX(-100%);
              transition-delay: .8s;
            }
          }
        }
      }

      &:nth-child(4) {
        &[data-aos^=fade] {
          .review-image {
            &:before {
              transform: translateY(0);
            }
          }
        }

        &[data-aos^=fade].aos-animate {
          .review-image {
            &:before {
              transform: translateY(100%);
              transition-delay: 1s;
            }
          }
        }
      }

      &:nth-child(5) {
        &[data-aos^=fade] {
          .review-image {
            &:before {
              transform: translateX(0);
            }
          }
        }

        &[data-aos^=fade].aos-animate {
          .review-image {
            &:before {
              transform: translateX(100%);
              transition-delay: 1.2s;
            }
          }
        }
      }

      &:nth-child(6) {
        &[data-aos^=fade] {
          .review-image {
            &:before {
              transform: translateY(0);
            }
          }
        }

        &[data-aos^=fade].aos-animate {
          .review-image {
            &:before {
              transform: translateY(-100%);
              transition-delay: 1.4s;
            }
          }
        }
      }

      &:nth-child(2), &:nth-child(6) {
        .review-card {
          margin-left: 0;
          margin-right: auto;
        }
      }

      &:nth-child(3) {
        .review-card {
          margin-right: 0;
          margin-left: auto;
        }
      }

      &:nth-child(4) {
        .review-info {
          width: 100%;
          max-width: 240px;
          margin-left: 0;
          margin-right: auto;
        }

        .review-image {
          position: absolute;
          top: 0;
          right: 20px;
          margin-right: 0;
        }
      }
    }

    .review-card {
      position: relative;
    }

    .review-image {
      width: 160px;
      min-width: 160px;
      height: 160px;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $light-white;
        z-index: 5;
        transition: all 0.7s $default-timing;
      }
    }
  }
}
