#services {
  padding: 20px 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    background-color: $dark-blue;
    transition: all .7s $default-timing 0s;
    z-index: 0;
  }

  .section-desc {
    color: #6f7b85;
    margin-bottom: 35px;
  }

  .service-card {
    margin-bottom: 35px;
  }

  .service-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: $dark-blue;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 transparent,
    0 0 0 transparent,
    inset 3px 3px 8px #060e15,
    inset -2px -2px 5px #293a49;
    transition: all 0.5s $default-timing;

    img {
      width: auto;
      height: auto;
    }
  }

  .service-desc {
    font-size: 16px;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('md') {
  #services {
    padding-top: 40px;
    padding-bottom: 0;

    .card-info {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }

    .section-title {
      margin-right: 40px;
      margin-bottom: 0;
    }

    .section-desc {
      margin-bottom: 0;
    }

    .service-card {
      margin-bottom: 40px;
    }

    .service-desc {
      font-size: 14px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #services {
    padding-top: 60px;
    padding-bottom: 20px;

    .card-info {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }

    .section-title {
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #services {
    padding-top: 80px;
    padding-bottom: 10px;

    .service-card {
      margin-bottom: 70px;
    }

    .service-image {
      &:hover {
        box-shadow: 5px 5px 20px #041622,
        -5px -5px 15px #12375a,
        inset 0 0 0 transparent,
        inset 0 0 0 transparent;
      }
    }
  }
}
