[data-aos=header-slide-up] {
  transform: translateY(55px);
}
[data-aos^=header-slide-up][data-aos^=header-slide-up].aos-animate {
  transform: translateY(0);
}

[data-aos=custom-slide-right] {
  transform: translateX(-38px);
}
[data-aos=custom-slide-right].aos-animate {
  transform: translateX(0);
}

[data-aos^=height-up] {
  &:before {
    height: 0;
  }
}
[data-aos^=height-up][data-aos^=height-up].aos-animate {
  &:before {
    height: 100%;
  }
}

[data-aos^=gallery-slide-right] {
  width: 0;
}
[data-aos^=gallery-slide-right][data-aos^=gallery-slide-right].aos-animate {
  width: 100%;
}

/* ELEMENTS CUSTOM FADE UP'S */
[data-aos^=fade-up-title] {
  opacity: 0;
  transform: translateY(58px);
}
[data-aos^=fade-up-title][data-aos^=fade-up-title].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos^=fade-up-20] {
  opacity: 0;
  transform: translateY(20px);
}
[data-aos^=fade-up-20][data-aos^=fade-up-20].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos^=fade-up-30] {
  opacity: 0;
  transform: translateY(30px);
}
[data-aos^=fade-up-30][data-aos^=fade-up-30].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos^=fade-up-40] {
  opacity: 0;
  transform: translateY(40px);
}
[data-aos^=fade-up-40][data-aos^=fade-up-40].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos^=fade-up-65] {
  opacity: 0;
  transform: translateY(65px);
}
[data-aos^=fade-up-65][data-aos^=fade-up-65].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos^=fade-up-100] {
  opacity: 0;
  transform: translateY(100px);
}
[data-aos^=fade-up-100][data-aos^=fade-up-100].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos^=fade-up-160] {
  opacity: 0;
  transform: translateY(160px);
}
[data-aos^=fade-up-160][data-aos^=fade-up-160].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

/* ELEMENTS CUSTOM SLIDE UP'S */
[data-aos^=slide-up-30] {
  transform: translateY(30px);
}
[data-aos^=slide-up-30][data-aos^=slide-up-30].aos-animate {
  transform: translateY(0);
}

[data-aos^=slide-up-50] {
  transform: translateY(50px);
}
[data-aos^=slide-up-50][data-aos^=slide-up-50].aos-animate {
  transform: translateY(0);
}

[data-aos^=contact-info-slide-left] {
  &:before {
    width: 0;
  }
}
[data-aos^=contact-info-slide-left][data-aos^=contact-info-slide-left].aos-animate {
  &:before {
    width: calc(200% + 60px) !important;
    transition-delay: .2s;
  }
}

[data-aos] {
  body[data-aos-easing="header-bezier"] &,
  &[data-aos][data-aos-easing="header-bezier"] {
    transition-timing-function: cubic-bezier(0.33, 0.13, 0.47, 1.21);
  }
}

[data-aos] {
  body[data-aos-easing="default-bezier"] &,
  &[data-aos][data-aos-easing="default-bezier"] {
    transition-timing-function: cubic-bezier(0.64, 0.04, 0.35, 1);
  }
}
