/* FONTS */
$Jura: 'Jura', sans-serif;
$ConthraxSB: 'Conthrax Sb Regular';
$GothamPro: 'Gotham Pro';

/* COLORS */
$light-white: #f1f6fa;
$dark-blue: #102335;
$accent: #80c5fc;
$accent-dark: #003d79;
$dark-grey: #6e757c;
$light-grey: #c0cad3;

/* TIMING MOTION */
$timing-grid: cubic-bezier(0, 0.98, 0.02, 1);
$default-timing: cubic-bezier(0.64, 0.04, 0.35, 1);
