footer {
  background-color: #f9fafa;
  overflow: hidden;

  .container {
    padding-top: 17px;
    padding-bottom: 16px;
  }
}

.copyright-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-text {
  color: $light-grey;
  font-size: 12px;
  font-weight: 700;

  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}
