header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(241, 246, 250, 0.2);
  transition: all 0.7s $default-timing 0.5s;
  overflow: hidden;

  &.active {
    top: 0;
    transition-delay: 0s;

    &:before {
      height: 100%;
      transition-delay: 0.5s;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
    background-image: linear-gradient(-45deg, #00182f 0%, #0f2235 100%);
    opacity: 0.9;
    transition: all 0.7s $default-timing 0s;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.menu-burger {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 25px;

  &.active {
    span {
      position: absolute;
      margin-bottom: 0;

      &:nth-child(1) {
        top: 1.5px;
        right: 6px;
        width: 11px;
        transform: translateX(100%) rotate(-45deg);
        transform-origin: right center;
      }

      &:nth-child(2) {
        top: 1.5px;
        left: 0;
        transform: translateY(0) rotate(45deg);
        transform-origin: left center;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
        transform: rotate(-45deg);
        transform-origin: left center;
      }
    }
  }

  span {
    position: absolute;
    left: 0;
    display: block;
    box-shadow: 0 0 4px $accent;
    border-top: 2px solid $light-white;
    transition: all 0.6s ease-out;

    &:nth-child(1) {
      top: 0;
      width: 17px;
    }

    &:nth-child(2) {
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
      width: 17px;
      margin-bottom: 0;
    }
  }
}

.lang-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &[data-lang="ru"] {
    .lang-ru {
      opacity: 1;
    }

    .lang-en {
      transform: translateY(calc(-50% - 10px))
    }

    &:hover {
      .lang-en {
        transform: translateY(-50%);
        opacity: 1;
      }

      .lang-ru {
        top: 50%;
        transform: translateY(calc(-50% + 10px));
        opacity: 0;
      }
    }
  }

  &[data-lang="en"] {
    .lang-en {
      opacity: 1;
    }

    .lang-ru {
      transform: translateY(calc(-50% - 10px))
    }

    &:hover {
      .lang-ru {
        transform: translateY(-50%);
        opacity: 1;
      }

      .lang-en {
        top: 50%;
        transform: translateY(calc(-50% + 10px));
        opacity: 0;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 4px $accent;
    border: 2px solid $light-white;
    border-radius: 100%;
    border-top: 2px solid transparent;
    transform: rotate(45deg);
    z-index: -1;
    transition: all .3s $default-timing;
  }

  &:hover {
    &:before {
      transform: rotate(310deg);
    }
  }
}

.lang-link {
  position: absolute;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  opacity: 0;
  color: $light-white;
  transition: all .3s $default-timing;
}

@include media-breakpoint-up('lg') {
  header {
    border-bottom: none;

    .container {
      max-width: 1350px;
    }

    .btn-appointment {
      box-shadow: 4px 4px 10px #041622,
      -2px -2px 5px #12375a,
      inset 0 0 0 transparent,
      inset 0 0 0 transparent;
      border-radius: 10px;
      background-color: $dark-blue;
      border: none;
      justify-content: center;
      padding: 11px 0;
      width: 170px;
      min-width: 170px;
      margin-right: 30px;
      transition: all 0.5s $default-timing;

      &:hover {
        box-shadow: 0 0 0 transparent,
        0 0 0 transparent,
        inset 3px 3px 8px #060e15,
        inset -2px -2px 5px #293a49;
      }

      span {
        color: $light-white;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.5px;
      }
    }
  }

  .logo {
    width: 170px;
    min-width: 170px;
  }

  .links-list {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  .links-list-item {
    margin-right: 30px;
  }

  .head-link {
    color: $light-white;
    font-size: 16px;
    transition: color 0.5s $default-timing;

    &:hover {
      color: $accent;
    }
  }

  .header-right-container {
    display: flex;
    align-items: center;
  }
}

@include media-breakpoint-up('xl') {
  header {
    top: 15px;
    overflow: hidden;
  }

  .logo {
    width: 200px;
    min-width: 200px;
    transition-timing-function: cubic-bezier(0.33, 0.13, 0.47, 1.21);
  }

  .links-list {
    margin-right: 0;
  }

  .links-list-item {
    margin-right: 60px;
  }
}
