.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 995;
  background-image: linear-gradient(-45deg, #00182f 0%, #0f2235 100%);
  padding-top: 61px;
  padding-bottom: 50px;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out 0s;
  overflow: auto;

  &.active {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s;
  }

  .line-wrap {
    position: relative;
  }

  .line {
    display: block;
    position: absolute;
    background-color: #6e757c;
    opacity: .1;
    z-index: -1;

    &__top, &__bottom {
      left: 50%;
      transform: translateX(-50%);
    }

    &__left, &__right {
      top: 50%;
      transform: translateY(-50%);
    }

    &__top {
      top: 0;
      width: 99999px;
      height: 1px;
    }

    &__bottom {
      bottom: 0;
      width: 99999px;
      height: 1px;
    }

    &__left {
      left: 0;
      width: 1px;
      height: 99999px;
    }

    &__right {
      right: 0;
      width: 1px;
      height: 99999px;
    }
  }

  .container {
    max-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
      left: 15px !important;
    }

    &:after {
      right: 15px !important;
    }
  }

  .menu-list {
    position: relative;
    margin-left: 70px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .menu-list-item {
    position: relative;
    list-style: none;
    margin-bottom: 40px;

    &:first-child {
      margin-top: 40px;
    }
  }

  .menu-link {
    color: $light-white;
    font-size: 22px;
    transition: all 0.3s ease-out;

    &:hover {
      color: $accent;
    }
  }

  .menu-bottom-info {
    position: relative;
  }

  .btn-appointment {
    position: relative;
    box-shadow: 4px 4px 10px #041622, -2px -2px 5px #12375a;
    border-radius: 10px;
    background-color: $dark-blue;
    padding: 13px 0;
    border: none;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 290px;
    z-index: 1;
    transition: all 0.5s $default-timing;

    &:hover {
      box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 3px 3px 8px #060e15, inset -2px -2px 5px #293a49;
    }

    span {
      color: $light-white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.75px;
    }
  }

  .socials-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
  }

  .social-link {
    margin-right: 50px;
    opacity: 0.4;

    &:last-child {
      margin-right: 0;
      opacity: 1;
    }

    img {
      width: 37px;
    }
  }
}

@include media-breakpoint-up('md') {
  .menu-container {
    .container {
      max-width: 725px;
    }

    .btn-appointment {
      margin-left: auto;
      margin-right: auto;
    }

    .menu-list {
      width: 100%;
      max-width: 150px;
      margin-top: 70px;
      margin-left: auto;
      margin-right: auto;
    }

    .menu-bottom-info {
      width: 100%;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }

    .menu-list-item {
      margin-bottom: 70px;

      &:first-child {
        margin-top: 0;

        &.bottom {
          &:after {
            bottom: auto;
            top: 0;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .menu-link {
      font-size: 30px;
    }
  }
}
