$breakpoints: ('md': (min-width: 768px), 'lg': (min-width: 992px), 'xl': (min-width: 1200px)) !default;

@mixin media-breakpoint-up ($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: `#{map-keys($breakpoints)}`.";
  }
}
