.modal {
  .form-group {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .calendar-input {
    color: #001d39;
  }
}

.text-not-found {
  color: $dark-blue;
  font-family: $ConthraxSB;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.modal-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: $light-white;
  z-index: 999;
  box-shadow: 0px 0px 12px #b9bdcfc4;

  .header-title {
    display: flex;
    align-items: center;
    color: $dark-blue;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;

    img {
      width: 9px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

.modal-close {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 25px;

  span {
    position: absolute;
    left: 0;
    display: block;
    box-shadow: 0 0 4px $accent;
    border-top: 2px solid $dark-blue;
    transition: all 0.6s ease-out;

    &:nth-child(1) {
      top: 1.5px;
      right: 6px;
      width: 11px;
      transform: translateX(100%) rotate(-45deg);
      transform-origin: right center;
    }

    &:nth-child(2) {
      width: 100%;
      top: 1.5px;
      left: 0;
      transform: translateY(0) rotate(45deg);
      transform-origin: left center;
    }

    &:nth-child(3) {
      width: 16px;
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);
      transform-origin: left center;
    }
  }
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  border: none;
  border-radius: 0;
  background-color: $light-white;
}

.modal-body {
  padding: 80px 0 70px;
  min-height: 100vh;
}

.modal-form {
  margin-bottom: 30px;
}

.reservation-capsule-card {
  box-shadow: 5px 5px 20px #b9bdcf;
  border-radius: 10px;
  background-color: $light-white;
  margin-bottom: 20px;
  overflow: hidden;
}

.reservation-capsule-image {
  width: 100%;
  height: 130px;

  img {
    object-fit: cover;
  }
}

.capsule-info-container {
  padding: 0 20px 20px;
}

.reservation-capsule-name {
  color: $dark-blue;
  font-family: $ConthraxSB;
  font-size: 16px;
  line-height: 55px;
  margin-bottom: 0;
}

.reservation-capsule-available {
  color: $dark-grey;
  font-weight: 700;
  margin-bottom: 15px;
}

.reservation-capsule-desc {
  color: $dark-grey;
  font-size: 12px;
}

.reservation-capsule-price {
  color: $accent-dark;
  font-family: $ConthraxSB;
  font-size: 14px;
  line-height: 55px;
  text-transform: uppercase;
}

.reservation-capsule-btn {
  box-shadow: 0 0 15px rgba(128, 197, 252, 0.4);
  border-radius: 10px;
  background-color: $light-white;
  width: 100%;
  max-width: 190px;
  padding: 12px 0;
  border: none;

  span {
    font-weight: 700;
    letter-spacing: 2px;
    color: $dark-blue;
  }
}

.reservation-select-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.select-label {
  font-size: 12px;
  color: $dark-grey;
  margin-bottom: 5px;
}

.form-select-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;

  &:before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $light-grey;
    z-index: 2;
  }
}

.form-select {
  position: relative;
  box-shadow: inset 2px 2px 5px #b9bdcf, inset -5px -5px 10px #ffffff;
  border-radius: 5px;
  background-color: $light-white;
  padding: 11px 0 10px 15px;
  width: 160px;
  color: $dark-grey;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;
}

.btn-cancel {
  border-radius: 10px;
  background-color: rgba(192, 202, 211, 0.2);
  width: 120px;
  min-width: 120px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  color: $dark-blue;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  padding: 0 15px 15px;
  z-index: 999;

  .accordion {
    width: 100%;
    margin: 0;
  }

  .card {
    box-shadow: 5px 5px 20px #b9bdcf;
    border-radius: 10px;
    background-color: $light-white;
    border: none;
  }

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0;
    padding: 15px 0;
    background-color: $light-white;

    &.collapsed {
      .arrow-img {
        transform: rotateX(0deg);
      }
    }
  }

  .collapse-title {
    color: $dark-blue;
    font-size: 18px;
    font-weight: 700;
  }

  .arrow-img {
    width: 14px;
    height: 8px;
    margin-left: 5px;
    transform: rotateX(180deg);
    transition: all .7s $default-timing;
  }

  .collapse {
    p {
      color: $dark-grey;
    }
  }
}

.reservation-info {
  padding: 10px 20px 0 20px;
}

.reservation-date {
  font-size: 16px;
  margin-bottom: 10px;

  span {
    font-weight: 700;
    margin-left: 10px;
  }
}

.reservation-capsule-info {
  padding: 10px 20px;
  background-color: rgba(192, 202, 211, 0.2);

  .capsule-name {
    font-size: 16px;
    font-weight: 700;
    color: $dark-blue;
    margin-bottom: 5px;
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}

.reservation-total-row {
  padding: 0 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation-total-text {
  font-size: 16px;

  &.total {
    color: $accent-dark !important;
    font-family: $ConthraxSB;
    font-size: 14px;
    line-height: 55px;
    text-transform: uppercase;
  }
}

.btn-continue {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto 20px;
  padding: 12px 0;
  box-shadow: 0 0 15px rgba(128, 197, 252, 0.4);
  border-radius: 10px;
  background-color: $dark-blue;
  border: none;

  &[disabled=disabled] {
    opacity: 0.3;
  }

  span {
    color: $light-white;
    font-weight: 700;
  }
}

.user-info-container {
  .form-label {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .form-input {
    padding: 12px 20px;
    box-shadow: inset 2px 2px 5px #b9bdcf, inset -5px -5px 10px #ffffff;
    border-radius: 10px;
    background-color: $light-white;
    color: $dark-grey;
    border: 1px solid $light-grey;

    &.area {
      resize: none;
    }
  }
}

@include media-breakpoint-up('md') {
  #modalReservation {
    .modal-dialog {
      max-width: 100%;
    }

    .reservation-capsule-image {
      height: 100%;
    }

    .modal-form {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .modal-form {
      .form-group {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    .submit-button {
      margin-top: 0;
    }

    .capsule-info-container {
      padding-left: 0;
      height: 100%;
    }

    .form-select-group {
      width: 50%;
    }

    .form-select {
      width: 100%;
    }

    .reservation-capsule-btn {
      padding: 13px 0;
      margin: 8px 0 7px;
    }

    .modal-footer {
      position: relative;
      margin-top: 30px;
      padding-bottom: 0;
    }

    .modal-body {
      padding-bottom: 30px;
    }

    .card-header {
      pointer-events: none;
    }
  }
}

@include media-breakpoint-up('lg') {
  #modalReservation {
    .modal-form {
      justify-content: space-between;

      .form-group {
        margin-right: 30px;
        width: 100%;
      }
    }

    .modal-content {
      border-radius: 10px;
    }

    .modal-dialog {
      max-width: 960px;
      margin: 35px auto;
    }

    .modal-header {
      position: relative;
      box-shadow: none;
      padding: 0;

      .header-title {
        padding: 15px 0 0 15px;
      }
    }

    .modal-close {
      position: absolute;
      top: -30px;
      right: -30px;

      span {
        border-top: 2px solid $light-white;
      }
    }

    .modal-body {
      min-height: auto;
      padding: 25px 0 30px;
    }

    .submit-button {
      max-width: 100%;
    }

    .modal-footer {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-up('xl') {
  #modalReservation {
    padding-right: 0 !important;

    .modal-dialog {
      max-width: 1100px;
    }

    .container {
      padding: 0 65px;
    }

    .modal-header {
      .header-title {
        cursor: pointer;
        padding: 45px 0 0 65px;
      }
    }

    .modal-close {
      cursor: pointer;
    }

    .modal-footer {
      align-items: flex-start;
    }

    .user-info-container {
      margin-bottom: 40px;
    }
  }
}
