.modal-success {
  .modal-header {
    position: relative;
    justify-content: flex-end;
    box-shadow: none;
    background-color: transparent;
  }

  .modal-body {
    padding: 30px 0 50px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-dialog {
    margin: 5px;
  }

  .modal-content {
    border-radius: 10px;
  }

  .image-success {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
  }

  .modal-title {
    color: $dark-blue;
    font-family: $ConthraxSB;
    font-size: 32px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 60px;
  }

  .modal-sub-title {
    display: flex;
    align-items: center;
    color: $dark-blue;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;

    img {
      width: 9px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

#modalFeedbackSuccess {
  .modal-title {
    margin-bottom: 0;
  }
}

#modalFeedbackFailure {
  .modal-title {
    margin-bottom: 30px;
  }

  .errors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }

  .error {
    color: $dark-blue;
    font-family: $ConthraxSB;
    font-size: 16px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('md') {
  .modal-success {
    .modal-dialog {
      margin: 5px auto;
      max-width: 960px;
    }

    .modal-header {
      padding: 0;
    }

    .modal-close {
      position: absolute;
      top: -30px;
      right: -30px;
      cursor: pointer;

      span {
        border-top: 2px solid $light-white;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  .modal-success {
    .modal-sub-title {
      cursor: pointer;
    }
  }
}
