.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  color: $dark-grey;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
  width: 100%;
}

.calendar-input {
  position: relative;
  box-shadow: 0 0 15px rgba(128, 197, 252, 0.4);
  border-radius: 10px;
  border: 1px solid $accent;
  background-color: transparent;
  color: $light-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 10px 15px 10px 50px;
  width: 100%;
  height: 42px;
  cursor: pointer;

  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    background-color: transparent;
    color: $accent;
  }
}

.calendar-icon {
  display: block;
  width: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.submit-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(128, 197, 252, 0.4);
  border-radius: 10px;
  background-color: $accent;
  padding: 13px 0;
  width: 100%;
  border: none;
  margin-top: 30px;
  transition: all 0.5s $default-timing;

  &:hover {
    box-shadow: 0 0 15px rgba(128, 197, 252, 0.4), inset 2px 2px 6px #4078a5, inset -3px -3px 6px #9dd3ff;
  }

  span {
    color: $dark-blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

@include media-breakpoint-up('lg') {
  .calendar-input {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .submit-button {
    margin-top: 0;
    max-width: 255px;
  }
}
