@import "normalize";
@import "fonts";
@import "aos-animations";
@import "constants";
@import "mixins";
@import "static";
@import "header";
@import "menu";
@import "footer";
@import "modal-reservation";
@import "modal-success";
@import "sections/main";
@import "sections/about";
@import "sections/capsule";
@import "sections/services";
@import "sections/review";
@import "sections/gallery";
@import "sections/contact";

@-webkit-keyframes letter-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes letter-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  color: $light-white;
  font-family: $Jura;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  background-color: $light-white;

  &.is-overflow {
    overflow: hidden;
  }
}

input, button, textarea, select, option {
  outline: none !important;
}

a, p {
  text-decoration: none !important;
  margin-bottom: 0;
}

a {
  &:hover {
    color: $light-white;
  }
}


main {
  min-height: 100vh;
  overflow: hidden;
}

section {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-wrap {
  position: relative;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 5;
}

.slick-slide {
  outline: none !important;
}

.section-title {
  position: relative;
  color: $light-white;
  font-family: $ConthraxSB;
  font-size: 30px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-sub-title {
  font-size: 18px;
  margin: 0;
}

.section-desc {
  color: $dark-grey;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.overflow-box {
  overflow: hidden;
}

@include media-breakpoint-up('md') {
  .section-title {
    font-size: 45px;
    margin-bottom: 35px;
  }
}

@include media-breakpoint-up('xl') {
  .section-title {
    font-size: 55px;
  }

  .line-wrap {
    position: relative;
  }

  .line {
    display: block;
    position: absolute;
    background-color: #6e757c;
    opacity: .1;
    z-index: -1;

    &__top, &__bottom {
      left: 50%;
      transform: translateX(-50%);
    }

    &__left, &__right {
      top: 50%;
      transform: translateY(-50%);
    }

    &__top {
      top: 0;
      width: 99999px;
      height: 1px;
    }

    &__bottom {
      bottom: 0;
      width: 99999px;
      height: 1px;
    }

    &__left {
      left: 0;
      width: 1px;
      height: 99999px;
    }

    &__right {
      right: 0;
      width: 1px;
      height: 99999px;
    }
  }
}
